<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Social Chat</title>
	<meta name='description' content='Real time Social Chat room on Node.js, support multiple Social Networks logins.  My name is Sky Chen. Here is my blog: http://almandsky.wordpress.com/. I works as QE Manager in Yahoo! Taiwan.' />
    <link rel="canonical" href="http://chat.skychen.com" />
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

     <link rel="stylesheet" href="https://s-static.ak.fbcdn.net/rsrc.php/v2/ya/r/zlVq5y5_w28.css" media="Screen" type="text/css" />

	<!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

	<%

	var picture = false;
	var userid = false;
	var username = false;
	var acctype = false;
	if (user) {
		if (user.facebook){
			picture = 'http://graph.facebook.com/' + user.facebook.id + '/picture?type=square';
			username = user.facebook.name;
			userid = user.facebook.id;
			acctype = 'facebook';
		} else if (user.google){
			picture = user.google.picture;
			username = user.google.name;
			userid = user.google.id;
			acctype = 'google';
		} else if (user.yahoo){
			picture = user.yahoo.image.imageUrl;
			username = user.yahoo.nickname;
			userid = user.yahoo.guid;
			acctype = 'yahoo';
		} else if (user.linkedin){
			picture = user.linkedin.pictureUrl;
			username = user.linkedin.firstName;
			userid = user.linkedin.publicProfileUrl;
			acctype = 'linkedin';
		} else if (user.twitter){
			picture = user.twitter.profile_image_url;
			username = user.twitter.name;
			userid = user.twitter.screen_name;
			acctype = 'twitter';
		}
		
	}

	%>



    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="Social Chat" />
    <meta property="og:type" content="website" />
	<meta property="og:url" content="<%= scheme %><%= url_no_scheme('') %>" />
	<meta property="og:image" content="<%= scheme %><%= url_no_scheme('/images/logo.png') %>" />
    <meta property="og:site_name" content="Social Chat" />
    <meta property="og:description" content="Real time social chat room" />
    <meta property="fb:app_id" content="371656099548187" />

    <!--script type="text/javascript" src="/scripts/jquery.min.js"></script-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    
    <script src="/ssio.js"></script>
    <script src="/chat-frontend2.js"></script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>

    <script type="text/javascript">
	  /*
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= scheme %><%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
	  
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      */

	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371656099548187";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

    </script>



	<!-- Banner Ads for mobile -->
	<% if (ismobile) { %>

		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* Mobile Banner */
		google_ad_slot = "0973657599";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

	<% } %>

    <header class="clearfix">
      <% if (user) { %>
      <p id="picture" style="background-image: url(<%= picture %>)"></p>
           
      <div>
	    <h1>Social Chat (<%= acctype %>)</h1>
        <h2>Welcome, <strong><%= username %></strong></h2>
		<div><input id="userid" type="hidden" value="<%= userid %>">
		<input id="username" type="hidden" value="<%= username %>">
		<input id="userpicture" type="hidden" value="<%= picture %>">
		<input id="acctype" type="hidden" value="<%= acctype %>">
		<input id="room" type="hidden" value="<%= room %>">
		<div align="right"> <a href="/logout">Log out</a></div>

        <!--
        <p class="tagline">
          This is your app
          <a href="<%= app.link %>" target="_top"><%= app.name %></a>
        </p>

        <div id="share-app">
          <p>Share your app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button" id="postToWall" data-url="<%= scheme %><%= url_no_scheme('') %>">
                <span class="plus">Post to Wall</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= scheme %><%= url_no_scheme('') %>">
                <span class="speech-bubble">Send Message</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Send Requests</span>
              </a>
            </li>
          </ul>
        </div>
        -->
      </div>
      <div class="fb-like" data-href="http://chat.skychen.com/" data-send="false" data-width="300" data-show-faces="false"></div>
      <g:plusone></g:plusone>
	
      <% } else { %>
      <div>
	    <h1>Social Chat</h1>
        <h2>Welcome, please login and join the chat:</h2>
        
        <a href="/auth/facebook"><img height="22" alt="facebook login" src="/images/fb-login.png"/></a>  
        <a href="/auth/google"><img height="22" alt="google login" src="/images/google-login.png"/></a>  
        <a href="/auth/yahoo"><img height="22" alt="yahoo login" src="http://l.yimg.com/a/i/reg/openid/buttons/1_new.png"/></a>
        <!--a href="/auth/linkedin"><img height="22px" src="http://press.linkedin.com/sites/all/themes/presslinkedin/images/LinkedIn_WebLogo_LowResExample.jpg"/></a-->
        <a href="/auth/twitter"><img height="22" alt="twitter login"  src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png"/></a>

		<input id="room" type="hidden" value="<%= room %>">
		
        <!--div class="fb-login-button" data-scope="user_likes,user_photos"> </div-->
	 <!--img width="71px" src="https://richi.com/images/ya_login.jpg"> <br/> <img width="71px" src="https://richi.com/images/go_login.jpg"> <br/> <img width="71px" src="https://richi.com/images/pl_login.jpg"-->
	     <br/>

      </div>

	  <div class="fb-like" data-href="http://chat.skychen.com/" data-send="false" data-width="300" data-show-faces="false"></div>
	  <g:plusone></g:plusone>
	
      <% } %>
      <script type="text/javascript">
	      window.___gcfg = {
	        lang: 'en-US'
	      };

	      (function() {
	        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	        po.src = 'https://apis.google.com/js/plusone.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	      })();
	  </script>
	
    </header>

    <!--
    <section id="get-started">
      <p>This is my app, I can edit it all I want.</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section>
    -->

<!-- original content is here -->

	<section id="guides" class="clearfix">
		
		
		
		<!-- Banner Ads for desktop -->
		<% if (!ismobile) { %>

		<hr/>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* myfirstads */
		google_ad_slot = "5461474990";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

		<% } %>
		
		<hr/>
		<h2>You are now in chat room: <b style="color:blue"><%= room %></b></h2>
		<hr/>
	    <p>There are <b style="color:red"><span id="totaluser"></span></b> users currently in this chat room including you. Go to the <a href="#onlineuser" alt="online users">Online Users</a> section to see who they are.</p>
		<hr/>    
		<div id="roomlistdiv">
	   	    
				<% if (user) { %>
					<!--form id="form1" method="post" action=""--> 
					<div>Room: <input type="text"  id="roomname" name="roomname"/> <button id="joinroom">Join</button></div>
					<!--/form-->
					<hr/>
					<h3>Room List:</h3>
		    		<div id="roomlist">
					</div>
					
				<% } else { %>
					<p style="color:red">Please login to join private chat room</p>
				<% } %>
	        
        </div>
	</section>




    <!-- User list -->


	<section id="guides" class="clearfix">
	    <span id="userstatus" style="color:grey"></span>
		<hr/>
        <div id="userlistdiv">
	   	    <a name=onlineuser><h3>Online users:</h3></a> 
			<div id="userlist">
	        </div>
        </div>
    </section>

	<!-- Message Input Box -->

    <% if (user) { %>

    <section id="samples" class="clearfix">
      <div>
	      Say something: <br/>
          <input type="text" id="input" disabled="disabled" />
      </div>
      
      
    </section>

    <% } else { %>
     	<section id="samples" class="clearfix">
		      <h2 style="color:red">Please click the login button above first to join the chat room</h2>
	    </section>
      <% } %>
	
	
	<!-- Chat history-->
	
	<section id="guides" class="clearfix">
	<table >
		<tr>
			<td style="vertical-align:top;">
		        <div id="content"></div>
			</td>
			
			<!-- Side bar Ads for desktop only -->
			<% if (!ismobile) { %>
			
			<td style="vertical-align:top;">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-9581795834127896";
				/* sidebar */
				google_ad_slot = "6058372133";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</td>
			
			<% } %>
			
		</tr>
	</table>
    </section>


	<section id="guides" class="clearfix">
		<div itemscope itemtype="http://data-vocabulary.org/Person">
		<p>
<b>About me:</b> My name is <span itemprop="name">Sky Chen</span>.  Here is my blog: <a href="http://almandsky.wordpress.com/" itemprop="url" alt="Sky Chen's Blog">http://almandsky.wordpress.com/</a>.  I works as <span itemprop="role">QE</span> <span itemprop="title">Manager</span> in <span itemprop="organization">Yahoo!</span> <span itemprop="location">Taiwan</span>.
		</p>
	    </div>
    </section>
	<section id="guides" class="clearfix">
		<div style="text-align:center">
	    <a href="/" alt="Home">Home</a> | <a href="/privacy" alt="Privacy Policies">Privacy Policies</a> | <a href="/terms" alt="Terms of Service">Terms of Service</a> | <a href="mailto:tianxiong_chen@hotmail.com" alt="Contact Us">Contact Us</a> | <a href="http://almandsky.wordpress.com/" alt="About Us">About Us</a>
	    </div>
		<div style="text-align:center">
	    Copyright &copy; 2012 skychen.com All Rights Reserved.
	    </div>
		<div style="text-align:center">
	    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
		  <a rel="license"
		     href="http://creativecommons.org/publicdomain/zero/1.0/">
		    <img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
		  </a>
		  <br />
		  To the extent possible under law,
		  <a rel="dct:publisher"
		     href="http://skychen.com">
		    <span property="dct:title">Sky Chen</span></a>
		  has waived all copyright and related or neighboring rights to
		  <span property="dct:title">Sky Chen</span>.
		This work is published from:
		<span property="vcard:Country" datatype="dct:ISO3166"
		      content="TW" about="skychen.com">
		  Taiwan</span>.
		</p>
		</div>
		
		
		
		<!-- Footer Ads for desktop-->
		<% if (!ismobile) { %>

		<hr/>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* myfirstads */
		google_ad_slot = "5461474990";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

		<% } %>
		
    </section>


    <!-- Disqus comment widget -->
<!--
    <br/>
	<br/>
	<br/>
	<br/>
	<br/>

    <hr/>

    <div id="disqus_thread" style="background-color:#EEE; margin:5px"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'socialchat'; // required: replace example with your forum shortname
	    var disqus_url = 'http://fbwebsocket.nodester.com/';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


    <script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'socialchat'; // required: replace example with your forum shortname
	    var disqus_url = 'http://fbwebsocket.nodester.com/';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	</script>
	
-->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32696506-1']);
	  _gaq.push(['_setDomainName', 'skychen.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	

	
	<!-- Footer Ads for mobile -->
	<% if (ismobile) { %>

		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* Mobile Banner */
		google_ad_slot = "0973657599";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

	<% } %>
	
	<!--
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/8608.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>
	-->

  </body>
</html>

