<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Social Chat - Terms of Service</title>
	<meta name='description' content='Terms of Service of Social Chat - Real time Social Chat room on Node.js, support multiple Social Networks logins.  My name is Sky Chen. Here is my blog: http://almandsky.wordpress.com/. I works as QE Manager in Yahoo! Taiwan.' />
    <link rel="canonical" href="http://chat.skychen.com/terms" />
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

     <link rel="stylesheet" href="https://s-static.ak.fbcdn.net/rsrc.php/v2/ya/r/zlVq5y5_w28.css" media="Screen" type="text/css" />

	<!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

	



    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="Social Chat" />
    <meta property="og:type" content="website" />
	<meta property="og:url" content="<%= scheme %><%= url_no_scheme('') %>" />
	<meta property="og:image" content="<%= scheme %><%= url_no_scheme('/images/logo.png') %>" />
    <meta property="og:site_name" content="Social Chat" />
    <meta property="og:description" content="Real time social chat room" />
    <meta property="fb:app_id" content="371656099548187" />

    <!--script type="text/javascript" src="/scripts/jquery.min.js"></script-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    
    <script src="http://chat.skychen.com/socket.io/socket.io.v0.9.6.js"></script>
    <!--script src="/chat-frontend2.js"></script-->

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>

    <script type="text/javascript">

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= scheme %><%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      
      <div>
	    <h1>Social Chat - Terms of Service</h1>
      </div>

	  <div class="fb-like" data-href="http://chat.skychen.com/" data-send="false" data-width="300" data-show-faces="false"></div>
	  <g:plusone></g:plusone>
	
      <script type="text/javascript">
	      window.___gcfg = {
	        lang: 'en-US'
	      };

	      (function() {
	        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	        po.src = 'https://apis.google.com/js/plusone.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	      })();
	  </script>
	
    </header>

    <!--
    <section id="get-started">
      <p>This is my app, I can edit it all I want.</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section>
    -->

	<section id="guides" class="clearfix">
		<div id="content">
			
			<h3>Terms of Service</h3>  
		         <p>
		           July 12, 2012
		         </p>
		         <p>
		           Your access to Social Chat Node is governed by the Social Chat Node terms of service. The terms of service, 
		           including the Privacy and Security Policy, are subject to change solely at the discretion of Social Chat Node and its management.
		         </p>
		         <p>
		           By using the Social Chat Node, you are agreeing to be legally bound by these Terms of Service. 
		           If at any time you are not willing to be bound by all of these Terms of Service, then you must not use the Social Chat Node Service.
		         </p>
		          <p>&nbsp;</p>
		         <h4>Your Account</h4>
		         <p>
		          You need to be 13+ to use  Social Chat Node.
		          You need to have a valid social networks account. 
		          Social Chat Node can refuse registration of at any time.
		          Social Chat Node does not store any social networks account information on their servers.
		         </p>
		          <p>&nbsp;</p>
		         <h4>Content and Intellectual Property</h4>
		         <p>
		           Social Chat Node owns the Social Chat Node Service as a whole, including all computer code, graphics, user interfaces and audiovisual
		           content used to provide the Social Chat Node Service, and the combination of all the elements on the Social Chat Node Service.
		        </p>
		          <p>&nbsp;</p>
		        <h4>Code of Conduct</h4>
		        <p>
		          We don't tollerate offensive, threatening, libelous, defamatory, and obscene behaviour.
		        </p>
		        <p>
		          Social Chat Node has the right, but not the obligation, to block user that we determine in our sole discretion to behave be unlawful, 
		          offensive, threatening, libelous, defamatory, obscene or otherwise objectionable,
		          or that is detrimental to the quality or intended spirit of the Social Chat Node Service. Social Chat Node also has the right, but not the obligation,
		          to limit or revoke the use privileges of the service of anyone who posts such Content.
		        </p>
		          <p>&nbsp;</p>
		        <h4>General Terms</h4>
		        <p>
		          THE SOCIAL CHAT NODE SERVICE IS PROVIDED "AS IS" WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED, 
		          AS TO THE OPERATION OF THE SOCIAL CHAT NODE SERVICE, OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THE SOCIAL CHAT NODE SERVICE. 
		    TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, SOCIAL CHAT NODE AND ITS AFFILIATES DISCLAIM ALL WARRANTIES, EXPRESS,
		    STATUTORY, OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
		    NON-INFRINGEMENT. FURTHER, SOCIAL CHAT NODE AND ITS AFFILIATES DO NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE INFORMATION,
		    TEXT, GRAPHICS, LINKS OR OTHER INFORMATION CONTAINED IN THE SOCIAL CHAT NODE SERVICE. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS
		    ON IMPLIED WARRANTIES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. SOCIAL CHAT NODE DOES NOT WARRANT THAT THE SATISFACTION
		    SERVICE WILL BE AVAILABLE AT ANY TIME OR FROM ANY PARTICULAR LOCATION, WILL BE SECURE OR ERROR-FREE, THAT DEFECTS WILL BE
		    CORRECTED, OR THAT THE SOCIAL CHAT NODE SERVICE IS FREE OF VIRUSES OR OTHER POTENTIALLY HARMFUL COMPONENTS. NO ADVICE OR
		    INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM SOCIAL CHAT NODE OR THE SOCIAL CHAT NODE SERVICE SHALL CREATE ANY WARRANTY
		    NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.
		        </p>
		        <p> 
		         SOCIAL CHAT NODE AND ITS AFFILIATES WILL NOT BE LIABLE UNDER
		    ANY THEORY OF LAW, FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO LOSS
		    OF PROFITS, BUSINESS INTERRUPTION, AND/OR LOSS OF INFORMATION OR DATA. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
		    LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. 
		    NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, SOCIAL CHAT NODE'S MAXIMUM AGGREGATE LIABILITY TO YOU FOR ANY CAUSES
		    WHATSOEVER, AND REGARDLESS OF THE FORM OF ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY,
		    BY YOU TO SOCIAL CHAT NODE FOR THE SOCIAL CHAT NODE SERVICE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE
		    TO LIABILITY.
		        </p>
			
		</div>
    </section>

    

    
	<section id="guides" class="clearfix">
		<div itemscope itemtype="http://data-vocabulary.org/Person">
		<p>
<b>About me:</b> My name is <span itemprop="name">Sky Chen</span>.  Here is my blog: <a href="http://almandsky.wordpress.com/" itemprop="url" alt="Sky Chen's Blog">http://almandsky.wordpress.com/</a>.  I works as <span itemprop="role">QE</span> <span itemprop="title">Manager</span> in <span itemprop="organization">Yahoo!</span> <span itemprop="location">Taiwan</span>.
		</p>
	    </div>
    </section>
	<section id="guides" class="clearfix">
		<div style="text-align:center">
	    <a href="http://chat.skychen.com" alt="Home">Home</a> | <a href="http://chat.skychen.com/privacy" alt="Privacy Policies">Privacy Policies</a> | <a href="http://chat.skychen.com/terms" alt="Terms of Service">Terms of Service</a> | <a href="mailto:tianxiong_chen@hotmail.com" alt="Contact Us">Contact Us</a> | <a href="http://almandsky.wordpress.com/"alt="About Us">About Us</a>
	    </div>
		<div style="text-align:center">
	    Copyright &copy; 2012 skychen.com All Rights Reserved.
	    </div>
		<div style="text-align:center">
	    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
		  <a rel="license"
		     href="http://creativecommons.org/publicdomain/zero/1.0/">
		    <img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
		  </a>
		  <br />
		  To the extent possible under law,
		  <a rel="dct:publisher"
		     href="http://skychen.com">
		    <span property="dct:title">Sky Chen</span></a>
		  has waived all copyright and related or neighboring rights to
		  <span property="dct:title">Sky Chen</span>.
		This work is published from:
		<span property="vcard:Country" datatype="dct:ISO3166"
		      content="TW" about="skychen.com">
		  Taiwan</span>.
		</p>
		</div>
    </section>


    <!-- Disqus comment widget -->
<!--
    <br/>
	<br/>
	<br/>
	<br/>
	<br/>

    <hr/>

    <div id="disqus_thread" style="background-color:#EEE; margin:5px"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'socialchat'; // required: replace example with your forum shortname
	    var disqus_url = 'http://fbwebsocket.nodester.com/';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


    <script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'socialchat'; // required: replace example with your forum shortname
	    var disqus_url = 'http://fbwebsocket.nodester.com/';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	</script>
	
-->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32696506-1']);
	  _gaq.push(['_setDomainName', 'skychen.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<!--
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/8608.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>
	-->

  </body>
</html>

